$color-black: #000000;
$color-gray-1: rgba(66, 66, 66, 0.91);
$color-gray-2: rgba(66, 66, 66, 0.62);
$color-white: #ffffff;
$color-dark-purple: #470b91;
$color-dark-purple-2: rgb(119, 61, 171);
$color-purple-1: rgb(147, 116, 175);
$color-purple-2: rgba(147, 116, 175, 0.6);
$background-color: rgba(192, 165, 218, 0.68);
$color-box-shadow: rgba(0, 0, 0, 0.02);

$typography-title-font-size: 1.5vw;
$typography-subtitle-font-size: 1.3vw;
$typography-text-font-size: 1.2vw;
$typography-border-font-size: 1.1vw;
$typography-button-text-font-size: 1vw;
